
{% block basic_config_group %}
    <div class="form-group">
        <h5>Basic Setup</h5>
    </div>
    <div class="form-group">
        <label for="nicknameInput">Nickname</label>
        <input type="text" class="form-control" id="nicknameInput" aria-describedby="sensorNickname" placeholder="RTKSensor">
        <small id="nicknameHelp" class="form-text text-muted">A custom label for the sensor (does not have to be unique).</small>
    </div>
    <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">s:</div>
            <input type="text" class="form-control" id="uuidInput" placeholder="UUID">
        </div>
        <small id="uuidHelp" class="form-text text-muted">A unique identifier for the sensor.</small>
    </div>

    <div class="form-group">
        <label for="generatorModel">Simulation Model</label>
        <select id="generatorModel" class="form-control" disabled>
            <option>Historical Data (.csv)</option>
        </select>
        <small id="generatorHelp" class="form-text text-muted">The type of simulation to drive the sensor.</small>
    </div>

    <div class="form-group">
        <label for="clientType">Client Type</label>
        <select id="clientType" class="form-control" disabled>
            <option>MQTT (default)</option>
        </select>
        <small id="clientTypeHelp" class="form-text text-muted">The type of client to handle sensor I/O.</small>
    </div>

{% endblock %}