{% extends "common/layout.html" %}

{% block content %}
    {% load static %}
    <!--style="padding-top: 80px; margin-bottom: 0; padding-bottom: 0"-->
    <div class="container col-md-8 main-container-rtk" >
            <div class="jumbotron-content-rtk">
                <h1 class="display-3"><img style="max-width: 50%;" src={% static "app/SmEILing.png" %}></h1>
                <h4 style="padding-bottom: 15px;">
                    <span class="text-headline-rtk">Smart Enhanced Independent Living</span>: breakthrough support technology and process for the caring sectors.
                </h4>
                <p>
                    <span class="text-highlight-rtk">SmEILing™</span> - pronounced “Smiling” - is a transformational national care initiative, driven by new tech opportunities and shaped precisely by the needs of practitioners.
                </p>
                <p>
                    It is helping to craft the UK’s next generation multi-partner health & wellbeing matrix, driving powerful new interactions across individuals, communities, carers, professionals and policy makers.
                </p>

            <!--
            <div class="row" style="padding-top: 50px;">
                <div class="col-md-4"></div>
                <img class="img-responsive card-img col-md-2" style="height: 40px;" src={% static "app/republic_logo.png" %}>
                <img class="img-responsive card-img col-md-2" style="height: 40px;" src={% static "app/city_verve_logo_resize_2.png" %}>
            </div>
            -->
            </div>
    </div>


    {% load static %}

{% endblock %}

<!--

    <div class="container col-md-8" style="padding-top: 160px; padding-bottom: 60px;">
        <div class="bg-faded" style="text-align: center; padding-bottom: 10px;">
            <h1 class="display-4">Republic of Things<h5><small>Dashboards and Tools for the Internet of Things.</small></h5></h1>
            <h1 style="padding-bottom: 15px; padding-top: 15px;">
                <img style="max-width: 50%;" src={% static "app/SmEILing.png" %}>
            </h1>
            <h4 style="padding-bottom: 15px;">
                <span style="font-weight: 800; color: #df197e;">Smart Enhanced Independent Living</span>: breakthrough support technology and process for the caring sectors.
            </h4>
            <p>
                SmEILing™ - pronounced “Smiling” - is a transformational national care initiative, driven by new tech opportunities and shaped precisely by the needs of practitioners.
            </p>
            <p>
                It is helping to craft the UK’s next generation multi-partner health & wellbeing matrix, driving powerful new interactions across individuals, communities, carers, professionals and policy makers.
            </p>
        </div>
    </div>

-->